################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DCPPMetrics/.vs/DCPPMetrics/v15/*
